.homepage {
    height: calc(100vh - 6.5rem);

    .canvas {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .homeText {
            display: block;
            margin: 5vw;
            overflow: hidden;
            padding: 2%;
            font-family: 'Dawning of a New Day', cursive;
            z-index: 1;
        }

        ;
    }


}